<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <% if(settings.footer_description && settings.footer_description.trim() !=='' ) {%>
                    <span>
                        <%= settings.footer_description %>
                    </span>
                    <% }else { %>
                        <span>© Copyright 2025 News | Powered by <a href="/">Ravi Kumar
                                <% } %>
            </div>
        </div>
    </div>
</div>