<div id="header">
    <!-- container -->
    <div class="container">
        <div class="row justify-content-center">
            <!-- LOGO -->
            <div class="col-md-3">
                <% if(settings.website_logo && settings.website_logo.trim() !=='' ) {%>
                    <a href="/" id="logo" style="width: 160px;"><img src="/uploads/<%= settings.website_logo %>"
                            alt="Logo" /></a>
                    <% }else { %>
                        <a href="/" id="logo"><img src="/images/news.jpg" alt="Logo" /></a>
                        <% } %>
            </div>
            <!-- /LOGO -->
        </div>
    </div>
</div>

<!-- Menu Bar -->
<div id="menu-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class='menu'>
                    <li><a href="/">Home</a></li>
                    <% for(let category of categories) { %>
                        <li><a href='/category/<%=category.slug %>'>
                                <%=category.name %>
                            </a></li>
                        <% } %>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /Menu Bar -->