<!-- post-container -->
<div class="post-container">
    <% if (searchQuery.length> 0) { %>
        <h2 class="page-heading">Search : <%=searchQuery %>
        </h2>
        <% } %>

            <%- include('partials/loop') %>
</div><!-- /post-container -->