<% if(errors.length> 0) { %>
    <div class="alert alert-danger mt-3">
        <ul>
            <% for(let error of errors) {%>
                <li>
                    <%= error.msg %>
                </li>

                <% } %>
        </ul>
    </div>

    <% } %>